* {
    margin: none;
}


.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.title {
    display: flex;
    align-items: center;
}

.display {
    margin-top: 5px;
    margin-bottom: 15px;
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    height: 75px;
    width: 300px;
}

.showNum {
    display: flex;
    font-size: x-large;
    height: 37.5px;
    padding-left: 5px;
    padding-right: 5px;
    background: white;
    justify-content: right;
}

.inputBox {
    display: flex;
    height: 37.5px;
    font-size: xx-large;
    padding-left: 5px;
    padding-right: 5px;
    background: white;
    justify-content: right;
}

.calculator {
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    border-radius: 3px;
    padding: 8px;
    padding-left: 10px;
    padding-right: 10px;
    align-items: center;
    background: rgb(190, 190, 190);
}

.functionContainer {
    display: flex;
    flex-direction: column;
}

.operators {
    display: flex;
    margin-bottom: 15px;
}

.operations {
    border: none;
    border-radius: 3px;

}

.clearRow {
    display: flex;
    justify-content: center;
}

.clearAll {
    margin-left: 15px;
    margin-right: 15px;
}

.group1 {
    display: flex;
    margin-top: 8px;
    margin-bottom: 8px;
    justify-content: center;
}

.group2 {
    display: flex;
    margin-bottom: 8px;
    justify-content: center;
}

.group3 {
    display: flex;
    margin-bottom: 8px;
    justify-content: center;
}

.group4 {
    display: flex;
    margin-bottom: 8px;
    justify-content: center;
}

.group5 {
    display: flex;
    margin-bottom: 8px;
    justify-content: center;
}

#squared {
    margin-left: 15px;
    margin-right: 15px;
}

#squareRoot {
    margin-right: 15px;
}

#two {
    margin-left: 15px;
    margin-right: 15px;
}

#three {
    margin-right: 15px;  
}

#five {
    margin-left: 15px;
    margin-right: 15px;
}

#six {
    margin-right: 15px;
}

#eight {
    margin-left: 15px;
    margin-right: 15px;
}

#nine {
    margin-right: 15px;  
}

#zero {
    margin-left: 15px;
    margin-right: 15px;
}

#decimal {
    margin-right: 15px; 
}

.equals {
    background-color: rgb(63, 185, 255);
    border-radius: 3px;
    border: 1px solid gray;
}

.equals:hover {
    background-color: rgb(24, 170, 255);
}

.equals:active {
    background-color: rgb(114, 203, 255);
}

button {
    font-size: large;
    height: 50px;
    width: 50px;
}

.darkMode {
    display: flex;
    justify-content: center;
}

.dark {
    margin-top: 20px;
    width: 100px;
    background: rgb(73, 73, 73, 0.829);
    color: white;
    border: 1px solid black;
    border-radius: 3px;
    font-size: medium;
}

.dark:hover {
    background: rgb(51, 51, 51, 0.829);
}

.dark:active {
    background: rgb(94, 94, 94, 0.829);
}

.dark-theme {
    background-color: rgb(10, 10, 10, 0.829);

    .title {
        color: white;
    }

    .calculator {
        border: 1px solid white;
        background: rgb(10, 10, 10, 0.829);
    }

    .display {
        border: 1px solid white;
    }

    .showNum {
        color: white;
        background: rgb(92, 92, 92);
    }

    .inputBox {
        color: white;
        background: rgb(92, 92, 92);
    }

    .equals {
        background-color: rgb(255, 211, 67);
        border: 1px solid black;
        border-radius: 3px;
    }

    .equals:hover {
        background: rgb(255, 196, 0);
    }
    
    .equals:active {
        background: rgb(255, 215, 85);
    }

    .op {
        color: white;
        background-color: rgb(73, 73, 73, 0.829);
        border: 1px solid black;
        border-radius: 3px;
    }

    .op:hover {
        background: rgb(51, 51, 51, 0.829);
    }
    
    .op:active {
        background: rgb(94, 94, 94, 0.829);
    }

    .number {
        color: white;
        background-color: rgb(73, 73, 73, 0.829);
        border: 1px solid black;
        border-radius: 3px;
    }

    .number:hover {
        background: rgb(51, 51, 51, 0.829);
    }
    
    .number:active {
        background: rgb(94, 94, 94, 0.829);
    }

    .posNeg {
        color: white;
        background-color: rgb(73, 73, 73, 0.829);
        border: 1px solid black;
        border-radius: 3px;
    }

    .posNeg:hover {
        background: rgb(51, 51, 51, 0.829);
    }
    
    .posNeg:active {
        background: rgb(94, 94, 94, 0.829);
    }

    .clearAll {
        color: white;
        background-color: rgb(73, 73, 73, 0.829);
        border: 1px solid black;
        border-radius: 3px;
    }

    .clearAll:hover {
        background: rgb(51, 51, 51, 0.829);
    }
    
    .clearAll:active {
        background: rgb(94, 94, 94, 0.829);
    }

    .clearInput {
        color: white;
        background-color: rgb(73, 73, 73, 0.829);
        border: 1px solid black;
        border-radius: 3px;
    }

    .clearInput:hover {
        background: rgb(51, 51, 51, 0.829);
    }
    
    .clearInput:active {
        background: rgb(94, 94, 94, 0.829);
    }

    .backspace {
        color: white;
        background-color: rgb(73, 73, 73, 0.829);
        border: 1px solid black;
        border-radius: 3px;
    }

    .backspace:hover {
        background: rgb(51, 51, 51, 0.829);
    }
    
    .backspace:active {
        background: rgb(94, 94, 94, 0.829);
    }
}